// Navigation code here
.flexNav {
	.custom-layout(center, center);
	width: 100%;
	/*border: @showMe;*/

	a {
		text-decoration: none;
		margin: 0 2%;
		.custom-header(1.5rem, 400);
		color: @river-bend;

		@media @phone {
			margin: 0 4%;
		}
	}
}
